﻿@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h2 >Razor View Engine</h2>

    <p>
        Razor est un moteur de rendu supporté par ASP.NET MVC
    </p>
    <p>
        Razor permet de mélanger le langage HTML avec un langage côté serveur.
        Visual Basic(.vbhtml) ou c# (.cshtml)
    </p>
    <p>
        Le symbole @@ est utilisé pour attndre les varaibles côté serveur
    </p>
</div>
