﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section sectionFromChildView{
    <p class="text-danger">Contenu affiché en dehors du body par un "RenderSection" depuis le "CustomLayout"</p>
}
