﻿@model IndexViewModel<Product>

<table class="table table-striped table-bordered border-primary align-middle text-center">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="product_list">
        <Partial name="_ProductsPage" model="@Model.Items" />
    </tbody>
</table>

<paging ajax="true"
        ajax-update="#items"
        ajax-url="?handler=ItemsList"
        total-records="Model.TotalRecords"
        page-no="Model.CurrentPage"
        page-size="Model.PageSize"
        show-page-size-nav="false"
        show-total-pages="false"
        show-total-records="false"
        show-first-last="true"
        show-prev-next="true"
        show-gap="false"
        class-paging-control="pagination justify-content-center"
        text-first=""
        text-last=""
        text-previous=""
        text-next=""
        sr-text-first="<i class='bi bi-skip-backward'></i>"
        sr-text-last="<i class='bi bi-skip-forward'></i>"
        sr-text-previous="<i class='bi-caret-left'></i>"
        sr-text-next="<i class='bi-caret-right'></i>">
</paging>