﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index Filtered";
}

<h1>Products Ajax Filtered</h1>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Find by decription" oninput="findByDescription(this.value)"/>
        <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<table class="table table-striped table-bordered border-primary align-middle text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="product_list">
        <Partial name="_ProductsPage" model="@Model"/>
    </tbody>
</table>

@section Scripts{
    <script>
        function findByDescription(search) {
            $.ajax({
                type: "Get",
                url:"/Products/_GetByDescription?desc=" + search,
                success: function (resp) {
                    $('#product_list').html(resp);
                }
            });
        }
    </script>
}
