﻿@model int

@{
    ViewData["Title"] = "Product Not Found";
}

<h1> Product Not Found</h1>

<div class="alert alert-danger mb-1 mt-1">
    <h4> Not Found Error</h4>
    <hr/>
    <h5>Product with id = @Model cound not be found</h5>
</div>

<a asp-action="Index" asp-controller="Product" class="btn btn-outline-success">All Available Products</a>