﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-secondary text-center">
    Il est @DateTime.Now.ToLongTimeString(). La page a été mise en cache pendant 5 secondes.
</div>

<div class="text-danger text-center">@Model</div>

<a asp-controller="Home" asp-action="Index">Clique pour tester le cache</a>
