﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _03_Razor_Pages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    @* On a remplacé le header par une vue paritelle *@
    <Partial name="_HeaderCustom"/>

    <div class="container">
        <main role="main" class="pb-3">
            @* Maximum un seul appel de RenderBody *@

            @RenderBody()
        </main>
    </div>

    <Partial name="_FooterCustom"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @* RenderSection permet d'envoyer du contenu depuis les vues filles. Il peut être appelé plusieurs fois avec des noms différents  *@
    @await RenderSectionAsync("sectionFromChildView", required: false)

</body>
</html>
