﻿<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - _03_Razor_Pages - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>