﻿@model IndexViewModel<User>

@{
    ViewData["Title"] = "Paging And Sorting";
}

<h1>Index Pagined And Sorted</h1>

<form method="get" class="row mt-3 mb-3">
    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
        <div class="input-group">
            <input id="search" name="q" value="@(Context.Request.Query["q"])" class="form-control" oninput="toggle()" />
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            <a id="clear-search"
               asp-action="IndexPaginedAndSorted"
               asp-route-sort="@(Context.Request.Query["sort"])"
               asp-route-direction="@(Context.Request.Query["direction"])"
               class="btn d-none" style="background-color:#a9bdbd"><i class="bi bi-x-lg text-danger"></i></a>
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
    <input name="sort" value="@(Context.Request.Query["sort"])" type="hidden" />
    <input name="direction" value="@(Context.Request.Query["direction"])" type="hidden" />
</form>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    <a asp-route-q="@Model.Filter" asp-route-sort="email" asp-route-direction="@Model.SwitchDirection()"> Email</a>
                </th>
                <th>
                    <a asp-route-q="@Model.Filter" asp-route-sort="age" asp-route-direction="@Model.SwitchDirection()"> Age</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="user_list">
            <Partial name="_UsersPage" model="@Model.Items" />
        </tbody>
    </table>
</div>

<paging total-records="Model.TotalRecords"
        page-no="Model.CurrentPage"
        page-size="Model.PageSize"
        show-page-size-nav="false"
        show-total-pages="false"
        show-total-records="false"
        show-first-last="true"
        show-prev-next="true"
        show-gap="false"
        class-paging-control="pagination justify-content-center"
        text-first=""
        text-last=""
        text-previous=""
        text-next=""
        sr-text-first="<i class='bi bi-skip-backward'></i>"
        sr-text-last="<i class='bi bi-skip-forward'></i>"
        sr-text-previous="<i class='bi-caret-left'></i>"
        sr-text-next="<i class='bi-caret-right'></i>">
</paging>

@section Scripts {
    <script>
        function toggle() {
            var visible = Boolean($("#search").val());

            $("#clear-search").toggleClass("d-none", !visible);
        }

        $(document).ready(function () { toggle(); });
    </script>
}