﻿@model int

@{
    ViewData["Title"] = "Product Not Found";
}

<h1> User Not Found</h1>

<div class="alert alert-danger mb-1 mt-1">
    <h4> Not Found Erroe</h4>
    <hr />
    <h5>USer with id = @Model cound not be found</h5>
</div>

<a asp-action="Index" asp-controller="User" class="btn btn-outline-success">All Users</a>