﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="text-center text-danger">@User.Identity?.Name</p>
    <p class="text-center text-danger">@User.Identity?.IsAuthenticated</p>
    <p class="text-center text-danger">@User.IsInRole("admin")</p>
</div>
