﻿@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-danger">@ViewBag.ErrorMessage</h1>
<h2 class="text-danger">@ViewBag.Path</h2>
<h2 class="text-danger">@ViewBag.QS</h2>
<a asp-action="Index" asp-controller="Home">Home sweet home</a>