﻿@using _04_TagHelpers.Helpers

@model Employe
@{
    ViewData["Title"] = "Bonour Employe";
}

<h2>Custom Helper</h2>

<employe name="@Model.Name" salary="@Model.Salary" type="@Model.Type" email="@Model.Email" />

@Html.Employe(@Model.Name, @Model.Salary.ToString(), @Model.Type.ToString(), @Model.Email)

