﻿@model Employe
@{
    ViewData["Title"] = "Create HTML Employe";
}

<h1>Employe</h1>

@using(Html.BeginForm("Bonjour", "Employe", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div class="border p-3 mt-4">
        <div class="mb-3">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Salary)
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" }})
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Type)
            @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<EmployeType>(), "Select Type", new { @class = "form-control" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.IsActif)
            @Html.EditorFor(model => model.IsActif, new { htmlAttributes = new { @class = "form-check-input" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.DepartmentId)
            @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @class = "form-control" } })

            <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        </div>
    </div>
}
