﻿@* On précise que la vue reçoit du controller un objet fortement typé de type "Personnage" *@
@model Personnage

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h4>@ViewBag.tempDataFromAction</h4>
    <h4>@ViewBag.tempDataFromView</h4>
</div>

<h3 class="text-center text-success">@Model.Prenom @Model.Nom</h3>

<h3 class="text-center text-secondary">@ViewBag.myCookie</h3>
