﻿
@{

    List<string> maList = new()
    {
        "riri",
        "fifi",
        "loulou"
    };
}

<h2>Action Return View</h2>

<br/>
<ul>
    @foreach(string item in maList)
    {
        <li>@item</li>
    }
</ul>
