﻿@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUSer">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="ListUsers" class="btn btn-success">Cancel</a>
            </div>

            <div class="Card">
                <div class="Card-Header">
                    <h3>User Roles</h3>
                </div>
                <div class="Card-Body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <h5 class="card-title">@role</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">No Role in User Yet</h5>
                    }
                </div>
                <div class="Card-Footer">
                    <a asp-action="ManageUserRoles"
                       asp-controller="Administration"
                       asp-route-userId="@Model.Id" class="btn btn-primary">Manage Roles</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListUsers">All Users</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
