﻿@model EditRoleViewModel

@{
    ViewData["Title"] = "EditRole";
}

<h1>Edit Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ListRoles" class="btn btn-success">Cancel</a>
            </div>

            <div class="card">
                <div class="card-Header">
                    <h3>Users in Role</h3>
                </div>
                <div class="card-body">
                    @if (Model.Users.Any())
                    {
                        <ul>
                            @foreach (var user in Model.Users)
                            {
                                <li class="card-title">@user</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h5 class="card-title">No User in Role Yet</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id" class="btn btn-primary">Add or Remove Users</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRoles">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
