﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

<h1>All Roles</h1>

@if(Model.Any())
{
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary mb-3">Create New Role</a>

    foreach(var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                    <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>

                    <button type="submit" onclick="return confirm('Are you sure you want to delete role : @role.Name');" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles Created Yet
        </div>
        <div class="card-body">
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        </div>
    </div>
}
